<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>

    <!-- CSS -->
    <% include ../partials/styles.ejs %>

        <%- defineContent('styles') %>
</head>

<body>
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <%- body %>
            </div>
        </div>
    </div>

</body>

<% include ../partials/scripts.ejs %>

    <%- defineContent('scripts') %>

</html>