<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading">Doubles</h1>
    </div>
</div>
<hr/>
<div >
<div id="fixture" class="fixture">
</div>
</div>
<%- contentFor('styles') %>
    <link rel="stylesheet" href="/css/jquery.brackets.min.css">
    <link rel="stylesheet" href="/css/pages/home.css">
    
    <%- contentFor('scripts') %>
    <script src="/js/jquery.brackets.min.js"></script>

                <script>
    
var fixtureData = <%-JSON.stringify(fixture) %>;
 
$(function() {
    $('#fixture').bracket({
    teamWidth: 150,
  scoreWidth: 40,
  matchMargin: 50,
  roundMargin: 30,
  skipConsolationRound: false,
  init: fixtureData,
  centerConnectors:true
     });
  })
    </script>
        
        <%- contentFor('breadcrumbs') %>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/fixtures">Fixtures</a></li>
                <li class="active">Doubles</li>
            </ol>