<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading">Fixtures</h1>
        <hr>
        <p></p>
        <!--<a href="/signout" class="btn btn-primary btn-xl page-scroll">Signout</a>-->
    </div>
</div>
<div class="row">
    <div class="view-panel">
        <div class="row inner-bg">
            <div class="col-md-4 col-sm-6">
                <a href="/fixtures/men">
                    <div class="service-box">
                        <img src="/img/icons/men.png" alt="" class="" height="150">
                        <h4 class="">Singles - Men</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/fixtures/doubles">
                    <div class="service-box">
                        <img src="/img/icons/doubles.png" alt="" class="" height="150">
                        <h4 class="">Doubles</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/fixtures/women">
                    <div class="service-box">
                        <img src="/img/icons/women.png" alt="" class="" height="150">
                        <h4 class="">Singles - Women</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<%- contentFor('styles') %>
    <link rel="stylesheet" href="/css/pages/home.css">

    <%- contentFor('breadcrumbs') %>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Fixtures</li>
        </ol>