<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading">Ping Pong</h1>
        <hr>
        <p><q>Being the best is not good enough. Try harder. Just make sure having fun is a central component of striving for excellence.</q></p>
        <p>- Carl Horowitz</p>
        <!--<a href="/signout" class="btn btn-primary btn-xl page-scroll">Signout</a>-->
    </div>
</div>

<div class="row">
    <div class="view-panel">
        <div class="row inner-bg">
            <div class="col-md-4 col-sm-6">
                <a href="/fixtures">
                    <div class="service-box">
                        <img src="/img/icons/fixture.png" alt="" class="" height="150">
                        <h4 class="">Fixtures</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/players">
                    <div class="service-box">
                        <img src="/img/icons/players.png" alt="" class="" height="150">
                        <h4 class="">Players</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/gallery">
                    <div class="service-box">
                        <img src="/img/icons/camera.png" alt="" class="" height="150">
                        <h4 class="">Gallery</h4>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="view-panel">
        <div class="row">
            <div class="col-md-6">
                <div class="service-box">
                    <h4 class="">Matches</h4>
                    <ul class="list-group">
                        <% for(var i=0; i < matches.length; i++) { %>
                            <li class="list-group-item">
                                <%= matches[i] %>
                            </li>
                            <% } %>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-box">
                    <h4 class="">Results</h4>
                    <ul class="list-group">
                        <% for(var i=0; i < results.length; i++) { %>
                            <li class="list-group-item">
                                <%= results[i] %>
                            </li>
                            <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<%- contentFor('styles') %>
    <link rel="stylesheet" href="/css/pages/home.css">